<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spring.dao.StudentMapper">


    <!--   //身份信息查询
    List<ZsStudent> showIdentity(Params params);-->
    <select id="showIdentity" resultType="ZsStudent">
        SELECT stu.*,sc.sl_school_name FROM zs_student stu , zs_school sc
        <where>
            <if test="slSchoolName!=null and slSchoolName!=''">
                and sc.sl_school_name like '%${slSchoolName}%'
            </if>
            <if test="stIdcard!=null and stIdcard!=''">
                and stu.st_idcard like '%${stIdcard}%'
            </if>
            <if test="stName!=null and stName!=''">
                and stu.st_name like '%${stName}%'
            </if>
            and stu.school_id=sc.id
        </where> 

    </select>

    <!--   //导出数据
    List<ZsStudent> outIdentity();-->
    <select id="outIdentity" resultType="ZsStudent">
        SELECT stu.*,sc.sl_school_name slSchoolName FROM
        zs_student stu , zs_school sc WHERE stu.school_id=sc.id
     </select>


    <!-- //删除身份信息
    int delIdentityMessage(Integer id);-->
    <delete id="delIdentityMessage">
        delete from  zs_student where id=#{id}
    </delete>

    <!--//身份信息统计
    List<ZsStudent> showIdentityStatistic();-->
    <select id="showIdentityStatistic" resultType="ZsStudent">
        SELECT DISTINCT sc.sl_school_name,(SELECT COUNT(st_name) FROM zs_student) mcount
        FROM zs_student stu,zs_school sc WHERE stu.school_id=sc.id
    </select>

    <!--showSchoolClass-->
    <!--<select id="showSchoolClass" resultType="ZsSchool">
        select sl_school_name from zs_school
    </select>-->



</mapper>
