<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spring.dao.SyudyMapper">
   <!-- &lt;!&ndash;    /*查询学习中心*/&ndash;&gt;
    &lt;!&ndash;    List<ZsSyudy> examineSyudy();&ndash;&gt;
    <select id="examineSyudy" resultType="ZsSyudy">
        select * from zs_syudy
    </select>

    &lt;!&ndash;    /*根据id查询地址*/&ndash;&gt;
    &lt;!&ndash;    ZsregionVo getzsRegion(int id);&ndash;&gt;
    <select id="getzsRegion" resultType="ZsregionVo">
        SELECT sec1.id aId,sec1.areaName xian,
               sec2.id cId,sec2.areaName city,
               sec3.id pId,sec3.areaName province
         FROM (SELECT * FROM zs_region WHERE id=#{id}) sec1
        LEFT JOIN zs_region sec2
        ON sec1.pid=sec2.id
        LEFT JOIN zs_region sec3
        ON sec2.pid=sec3.id
    </select>
    &lt;!&ndash;    /*添加学习中心*/&ndash;&gt;
    &lt;!&ndash;    int addSyudy(ZsSchool zsSchool);&ndash;&gt;
    <insert id="addSchool">
        INSERT INTO`zs_school`(`sl_number`,`sl_school_name`,`sl_outer_name`,
        `sl_area_id`,`sl_district_id`,`sl_state`,`sl_start_time`,`sl_approval`,
        `sl_card1`,sl_card2,`sl_card3`)
        value (#{slNumber},#{slSchoolName},#{slOuterName},#{slAreaId},#{slDistrictId},
        #{slState},#{slStartTime},#{slApproval},#{slCard1},#{slCard2},#{slCard3})
    </insert>

    &lt;!&ndash;    /*修改学习中心*/&ndash;&gt;
    &lt;!&ndash;    int updateSchool(ZsSchool zsSchool);&ndash;&gt;
    <update id="updateSchool">
    UPDATE `zs_school` SET `sl_number`=#{slNumber},`sl_school_name`=#{slSchoolName},`sl_outer_name`=#{slOuterName},
    `sl_area_id`=#{slAreaId},`sl_district_id`=#{slDistrictId},`sl_state`=#{slState},`sl_start_time`=#{slStartTime},
    `sl_approval`=#{slApproval},`sl_card1`=#{slCard1},sl_card2=#{slCard2},`sl_card3`=#{slCard3}
    WHERE id=#{id}
    </update>

    &lt;!&ndash;    /*添加学习中心用户*/&ndash;&gt;
    &lt;!&ndash;    int addSyudy(ZsSyudy zsSyudy);&ndash;&gt;
    <insert id="addSyudy">
    INSERT INTO `zs_syudy`(`sy_name`,`sy_username`,`sy_password`,`sy_state`,
    `sy_role`,`sy_email`,`sy_phone`,`sy_address`,`sy_nuber`)
    VALUE (#{syName},#{syUsername},#{syPassword},#{syState},#{syRole},#{syEmail},#{syPhone},#{syAddress},#{syNuber})
    </insert>

    &lt;!&ndash;    /*根据id修改学习中心用户*/&ndash;&gt;
    &lt;!&ndash;    int updateSyudy(ZsSyudy zsSyudy);&ndash;&gt;
    <insert id="updateSyudy">
    insert into`zs_syudy` (id,sy_name,sy_username,`sy_password`,
    `sy_state`,`sy_role`,`sy_email`,`sy_phone`,`sy_address`,`sy_nuber`)
    select #{id},#{syName},#{syUsername},#{syPassword},#{syState},#{syRole},#{syEmail},#{syPhone},#{syAddress},#{syNuber}
    FROM DUAL WHERE NOT EXISTE (select id from zs_syudy where id=#{id} )
    UPDATE zs_syudy SET sy_name=#{syName},sy_username=#{syUsername},sy_password=#{syPassword},sy_state=#{syState},sy_role=#{syRole},
    sy_email=#{syEmail},sy_phone=#{syPhone},sy_address=#{syAddress},sy_nuber=#{syNuber} where id=#{id}
    </insert>
    <select id="examineSchool" resultType="ZsSchool">
        select *from zs_school
    </select>-->

   <!--用户名检测-->
    <!--int nameFindByName(String syUsername);-->
   <select id="nameFindByName" resultType="int">
      SELECT COUNT(Sy_username) from zs_syudy where Sy_username=#{syUsername}
   </select>

</mapper>
