<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spring.dao.UserMapper">


    <!--登录-->
    <!--ZsUser login(ZsUser user);-->
    <select id="login" resultType="ZsUser" parameterType="ZsUser">
        select * from zs_user where u_name=#{uName} AND u_pass=#{uPass}
    </select>

</mapper>
